<%- include('partials/header') %>

<div class="jumbotron text-center">
    <div class="container">
        <i class="fas fa-key fa-6x"></i>
        <h1 class="display-3">Your secret has been shared.</h1>
        <p class="secret-text">Come back anytime to share more secrets!</p>
        <hr>

        <a class="btn btn-dark" href="/submit" role="button">Share Another Secret</a>
    </div>
</div>



  <%- include('partials/footer') %>